@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*0,0,0*/
*{padding: 0; margin: 0; box-sizing: border-box; font-family: 'Space Mono', monospace; text-decoration: none;}

/*0,0,1*/
body {background-color: #393d41; color: #ffffff; margin-left: auto; margin-left: auto;}
article {display: block;}
h2{font-size: 18px; font-weight: 700;}
h3{font-size: 36px; font-weight: 700;font-family: 'Space Mono', monospace; text-align: center;}
p{text-indent: 1.5em;}
a{text-decoration:none;}
article a {background-color: #4070f4; color: #fff; padding: 15px; width: 200px; display: flex; align-self: center; align-items: center; justify-content: center; border-radius: 10px; border: none; margin-top: 30px; font-size: 16px; font-weight: 700; font-family: "Space Mono", monospace;}
footer{background-color: #2B2A2B;padding-bottom: 5%;}

/*0,1,0*/
.align-l{margin-left: auto;} /*ajuste sobrepondo bootstrap*/
.fa {font-size: 24px; color: white;}
.btn{background-color: #4070f4; border: none;}
.cards-group{ padding: 0; display: flex; justify-content: space-between; flex-wrap: wrap; text-align: left;}
.cards{ display: block; height: auto; flex-grow: 1; flex-basis: 300px; text-align: right;background-color: #33373B; padding: 40px 40px 40px 40px; margin: 10px; border-radius: 5px; box-shadow: 0 0 10px #cacaca; position: relative;}
.cards .btn {padding: 20px;}
.icon-img{margin-bottom: 25px;}
.container{display: flex;}
.text-center {text-align: center;}
.padding-top2{padding-top: 2%;}
.padding-bottom5{padding-bottom: 5%;}
.no-ident{text-indent: 0;}
.gradiente{background: -webkit-gradient(linear, left top, right top, from(#252525bb), to(#33333346)) no-repeat; background: -moz-linear-gradient(left, #CCCCCC, #000000); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#CCCCCC', EndColorStr='#000000'); border-radius: 10px; padding: 15px;}
.knowledge-level-div{background: url(../img/star-disable.png) repeat-x; display: flex; flex-wrap: wrap;font-size: 0; height: 21px; line-height: 0; overflow: hidden; text-indent: -999em; width: 110px; margin: 10px auto; float: right;}
.knowledge-level{background: url(../img/star.png) repeat-x; background-position: 0 100%; float: left; height: 21px; display: block;z-index: 15;}

/*1,0,0*/
#introduction {display: flex; align-items: center; height: 100vh; overflow: hidden; padding-top: 10%;}
#introduction-text {padding: 150px 0px 150px 150px; width: 60%; flex-direction: column;}
#name-autor{text-transform: uppercase; font-size: 3rem; font-weight: 700;font-family: 'Space Mono', monospace;}
#introduction-img {width: 40%; position: relative; top: 10%;}
#my-cup {width: 80%; max-width: 950px; position: relative; top: 10%;}

#who-im{display: flex; align-items: center; height: 100%; overflow: hidden; background-color: #33373B;}
#im-img{ width: 40%; position: relative; flex-direction: column;}
#my-helmet{width: 90%; max-width: 950px; position: relative; top: 10%;}
#im-text{padding: 100px 100px 150px 50px; width: 60%; text-align: justify; overflow:visible; }

#who-im, #services {background-color: #33373B;}

#projects, #services, #knowledge{display:block; align-items: center; height: 100%; padding: 8% 100px 8% 100px;}

#cl-graphc{ background: url('../img/cl-graphic.png') no-repeat;background-size: 100%; background-position: center;}
#property-appraser { background: url('../img/property-appraiser.png') no-repeat;background-size: 100%;}
#dynamic-stories { background: url('../img/dynamic-stories.png') no-repeat;background-size: 100%;}

a#reposit {margin: 0 auto}

#knowledge div{ display: flex; height: auto; flex-wrap: wrap; margin-top: 25px;}

#social-icons {display: flex; justify-content: space-between; flex-wrap: wrap; width: 20%; margin-left: auto; margin-right: auto;}
#social-icons a{background-color: none; width: 60px;}

#stopped {position: fixed; right: 20px; bottom: 20px; background-color: #4070f4; padding: 14px; opacity: 0; transition: all .4s ease-in-out 0s; cursor: pointer; border-radius: 10%;}

.scrollTop: :hover{cursor: pointer; background-color: #3460da;}

@media screen and (max-width: 1000px) {
    h3{font-size: 36px; font-weight: 700;font-family: 'Space Mono', monospace; text-align: end;}
    p, h2 {text-align: end;}
    h2.intro {text-align: center;}
    

    .cards-group{display: flex; justify-content: space-between; flex-wrap: wrap; text-align: left;}
    .cards{ flex-grow: 1; flex-basis: 300px; background-color: #33373B; padding: 40px 25px 80px 25px; margin: 10px; border-radius: 5px; box-shadow: 0 0 10px #cacaca; position: relative; text-align: justify;}
    .cards a {margin-left: auto; margin-right: auto;}
    .cards article a {padding; 5px}
    .cards .btn {padding 5px} 

    #introduction {display: inline-grid; height: 120vh; min-width: 320px;}
    #introduction-text {display: flex; flex-direction: column; align-items: center; width: 100%; text-align: center; margin-top: 10%; padding: 30px;}
    #introduction-img {width: 80%; position: relative; top: 0%; margin-left: auto; margin-right: auto;}
    #my-cup {width: 80%; max-width: 950px; position: relative; top: 10%; margin-left: auto; margin-right: auto;}

    #who-im, #projects{display: inline-grid; align-items: center; width: 100%; height: 100%; overflow: hidden; background-color: #33373B;}
    #im-text{display: flex; padding: 100px 25px 100px 25px; flex-direction: column; align-items: center; width: 100%; text-align: end; z-index: 2;}
    #im-img{ display:block; float:left; z-index: 1;margin-top: 24%}
    #my-helmet{width: 90%; min-width: 350px; position: absolute; margin-left: -50px;}

    #projects, #services, #knowledge{padding: 20% 0 5% 0;}

    #stopped{display: none;}
}