
.carousel-indicators li.active {
    background-color: #666;
    width: 7px;
    height: 7px;
}

.carousel-indicators li {
    border-color: #666;
}
.carousel-indicators li {
    width: 5px;
    height: 5px;
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    background-color: #000\9;
    background-color: transparent;
}
* {
    font-family: gilroy-medium,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
}
*, :after, :before {
    box-sizing: border-box;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
Style Attribute {
    user-select: text;
}
.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    margin-left: -30%;
    padding-left: 0;
    list-style: none;
    text-align: center;
}
user agent stylesheet
ol {
    list-style-type: decimal;
}
Style Attribute {
    user-select: text;
}
#features-products .box-now-body .carousel {
    line-height: 0!important;
}
Style Attribute {
    user-select: text;
}
#features-products .box-now-body {
    color: #6e6e6e;
    text-align: center;
}
Style Attribute {
    user-select: text;
}
Style Attribute {
    user-select: text;
}
Style Attribute {
    user-select: text;
}
Style Attribute {
    user-select: text;
}
Style Attribute {
    user-select: text;
}
body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
Style Attribute {
    user-select: text;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, :after, :before {
    box-sizing: border-box;
}
*, :after, :before {
    box-sizing: border-box;
}